<div class="row">
  <div class="col-sm-2"*ngFor="let photo of photos">
    <h4>{{photo.userKnownAs}}</h4>
    <img src="{{photo.url}}" class="img-thumbnail p-1" alt="">
    <div class="text-center">
      <button type="button" class="btn btn-sm mr-1" 
        (click)="approvePhoto(photo.id)"
        [ngClass]="photo.isMain ? 'btn-success active' : 'btn-secondary'"
        [disabled]="photo.isMain">Approve</button>
      <button type="button" class="btn btn-sm btn-danger"
        (click)="deletePhoto(photo.id)"
        [disabled]="photo.isMain"><i class="fa fa-trash-o"></i></button>

    </div>
  </div>
</div>